{% extends "base.html.twig" %}

{% block body%}
<div id="display">
        <div id="fly-text" data-id="{% if(text) %}{{text.id}}{% endif %}" class="fly-text">
            {% if(text) %}
                {{text.text}}
            {% endif %}
        <div>
</div>

<script>
    setInterval(function(){
        $.ajax({
            url: "/",
            success: function(text){
                if(text && $("#fly-text").attr('data-id') != text.id){
                    $("#fly-text").fadeOut("slow", function(){
                        $(this).attr('data-id', text.id);
                        $(this).html(text.text).fadeIn('slow');
                    });
                }
            }
        });
    }, 3000);
</script>
{% endblock body%}
