{% extends "base.html.twig" %}


{% block body%}
<div id="question">
    <div class="form">
        <img src="/images/couple.png" />
        <h4>Sexualité & Fréquentation</h4>
        <hr />
        {% for message in app.session.getFlashBag.get('message') %}
        <div class="success">
            {{ message }} <img id="thumb" src='/images/thumb-up.png' />
        </div>
        {% endfor %}
        <br />
        <form action="#" method="post">
            {{ form_widget(form.text, {'attr': {'placeholder': 'Poses ta question...'}}) }}
            {{ form_widget(form) }}
            <br />
            <button class="btn btn-primary btn-lg">Envoyer</button>
        </form>
    </div>
</div>
{% endblock body%}
