{% extends "base.html.twig" %}


{% block body%}
<div id="question">
    <div class="form">
        <img src="/images/couple.png" />
        <h4>Sexualité & fréquentation</h4>
        <form action="#" method="post">
            {{ form_widget(form.text, {'attr': {'placeholder': 'Pose ta question...'}}) }}
            {{ form_widget(form) }}
            <br />
            <button>Envoyer</button>
        </form>
    </div>
</div>
{% endblock body%}
