<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Passeport GKidz</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/bootstrap/bootstrap-theme.min.css">
        <script src="/js/jquery/jquery2.2.0.min.js"></script>
        <script src="/js/bootstrap/bootstrap.js"></script>
        <script src="/js/main.js"></script>
    </head>

    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
